<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net4" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net40" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="NLog" version="4.4.4" targetFramework="net45" />
</packages>