<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless.Signed" version="4.3.2027" targetFramework="net461" />
  <package id="Exceptionless.Wpf.Signed" version="4.3.2027" targetFramework="net461" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.4" targetFramework="net461" />
  <package id="Ookii.Dialogs.Wpf" version="3.1.0" targetFramework="net461" />
  <package id="Vestris.ResourceLib" version="2.1.0" targetFramework="net461" />
</packages>