<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <variable name="VerboseLayout" value="${longdate:padding=4} ${level:upperCase=true:padding=-6}  [${logger:shortName=false} -&gt; ${threadname}] ${message} (${callsite:includSourcePath=false}) ${exception:format=ToString}" />
  <variable name="ConsoleLayout" value="${longdate:padding=4} ${level:upperCase=true:padding=-6}  [${logger:shortName=true:padding=-12}] ${message}" />
  <variable name="TextBoxLayout" value="${date:format=HH\:MM\:ss.ffff} [${level:upperCase=true}]&#009;[${logger:shortName=true}] ${message}" />
  <variable name="MinLogLevel" value="Info" />
  
  <targets>
    <!-- 10 MiB files -->
    <target xsi:type="File" encoding="utf-8" name="file" maxArchiveFiles="10" archiveNumbering="DateAndSequence" keepFileOpen="true" openFileCacheTimeout="30" fileName="log.txt"
            layout="${VerboseLayout}" archiveAboveSize="10485760" archiveFileName="/logs/{#####}.log"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>